:root {
  --green: #596D48;
}
body, html {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
}


.background-image {
  position: relative;
  height: 100vh;
  width: 35vw;
  background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
}

.shadow-box{
  width: 100%;
  height: 15vh;
  background-color: rgb(0, 0, 0, 0.5);
  position: relative; 
  bottom: -23vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Odin-Logo {
  width: 5rem;
  height: 80%;
  opacity: 1;
}

#Odin {
  
  font-family: Norse, 'Times New Roman', Times, serif;
  color: white;
  font-size: 10vh;
  margin: 0px;
  height: 100%;
  position: relative;
  bottom: -25%;
}

#Credit {
  color:white;
  font-size: 1rem;
  position: absolute;
  bottom: -10px;
  width: 100%;
  text-align: center;
}

a {
  color: white;

}

.right-side {
  display: flexbox;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 65vw;
  height: 100vh;
  background-color: rgb(250, 250, 250);
}

#sign-up{
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
  width: 80%;
  height: 30vh;
  padding-top: 8vh;
  padding-left: 2rem;
  text-align: left;
  overflow: hidden;
  font-size: calc(0.5rem + 2vh);
}

#form-area {
  display:flex;
  flex-direction: column;
  
  align-items: start;
  background-color: white;
  width: 100%;
  height: 37vh;
  position: relative;
  flex: auto;
  
}

#form{
  display:flex;
  flex-direction: row;
  padding-left: 2rem;
  width: 100%;
  height: 30vh;
  background-color: white;
}

h1{
  margin-top: 0px;
  padding-left: 2rem;
}

#left-form, #right-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
  background-color: white;
}

#left-form div {
  width: 200px;
}

input:valid {
  border-color: #E5E7EB;
  border-radius: 5px;
}

input[type = "password"]:invalid {
  border-color: red;
}

input:focus {
  border-color: blue;
  box-shadow: 2px 2px rgb(250, 250, 250);
}

#bottom-right {
  display: flex;
  flex-direction: column;
  padding-top: 1rem ;
  padding-left: 2rem;
  gap: 20px;
}

#submit {
  width: 180px;
  height: 40px;
  color: white;
  background-color: var(--green);
  border-radius: 5px;
}

#log-link {
  color: var(--green);
}

label{
  color: gray;
}




